.o_portal_sidebar #sidebar_content.card > div.card-footer{
	display: none !important;
}
#rangemodal .modal-body{
	justify-content: center;
}
.date_from{
	width: 40%;
	margin-right: 10px;
}
.date_to{
	width: 40%;
}